#navbar {
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100vw;
	padding: 1.5rem 4.5rem 0.75rem;
	border-bottom: transparent 1px solid;
	font-weight: 600;
	height: 83px;
	transition: all 0.3s linear;
	&.scrolled {
		padding: 0.75rem 4.5rem;
		border-bottom-color: var(--white);
		// background-color: rgba(30, 137, 217, 0.95);
		background-color: rgba(30, 137, 217, 0.8);
		#navbar-brand {
			opacity: 1;
			pointer-events: all;
		}
	}
	#navbar-brand {
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s linear;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover,
		&:focus {
			text-decoration: none;
		}
		svg {
			height: 2rem;
			width: auto;
			fill: var(--white);
			transition: transform 0.3s linear;
			@media screen and (max-width: 575px) {
				height: 1.5rem;
			}
		}
		&:active {
			svg {
				transform: scale(0.9);
			}
		}
	}
	#navbar-toggler {
		border: none;
		height: 29px;
		padding: 0 5px;
		#toggler-icon {
			width: 20px;
			height: 2px;
			box-shadow: none;
			background-color: transparent;
			position: relative;
			transition: box-shadow 0.3s linear, background-color 0.3s linear;
			&:before,
			&:after {
				content: "";
				position: absolute;
				height: 2px;
				width: 100%;
				left: 0;
				top: 0;
				background-color: var(--black);
				box-shadow: none;
				transition: all 0.3s linear;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(135deg);
			}
		}
		&.collapsed {
			#toggler-icon {
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
				background-color: var(--white);
				&:before,
				&:after {
					background-color: var(--white);
					box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
					transform: rotate(0);
				}
				&:before {
					top: -5px;
				}
				&:after {
					top: 5px;
				}
			}
		}
	}
	#navbar-items {
		align-items: center;
		.nav-link {
			font-size: 1rem;
			color: var(--white);
			position: relative;
			margin: 0 0.25rem;
			opacity: 0.8;
			transition: all 0.3s linear;
			&:hover {
				opacity: 1;
			}
			&.normal-nav-link {
				&:after {
					content: "";
					width: 0px;
					height: 1px;
					background-color: var(--white);
					position: absolute;
					bottom: 5px;
					left: 50%;
					transform: translateX(-50%);
					transition: width 0.3s linear;
				}
				&:hover {
					&:after {
						width: 50%;
					}
				}
				&.active {
					opacity: 1;
					&:after {
						width: 100%;
					}
				}
			}
			&.instagram-nav-link {
				padding-top: 5px;
				margin-right: 16px;
				svg {
					width: 25px;
					height: 25px;
				}
			}
		}
		.donate-nav-link {
			width: 100px;
			height: 46px;
			font-size: 1rem;
			background-color: var(--primary);
			color: var(--white);
		}
	}
	@media screen and (max-width: 767px) {
		padding: 1.5rem 3rem 0.75rem;
		&.scrolled {
			padding: 0.75rem 3rem;
		}
		&.open {
			padding: 0.75rem 15px;
			background-color: var(--white) !important;
			#navbar-brand {
				color: var(--black);
				&:hover,
				&:focus {
					text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
				}
			}
			height: 100vh;
			align-items: flex-start;
			#navbar-toggler {
				margin: 8.5px 0;
			}
			#navbar-items {
				opacity: 1;
			}
		}
		#navbar-items {
			text-align: center;
			opacity: 0;
			transition: opacity 0.3s linear;
			.nav-link {
				text-align: center;
				color: var(--black);
				opacity: 0.7;
				font-size: 2rem;
				width: auto;
				&.normal-nav-link:after {
					background-color: var(--black);
				}
				&.active {
					color: var(--secondary);
					opacity: 1;
					&:after {
						background-color: transparent !important;
					}
				}
				&:hover,
				&:focus {
					opacity: 1;
					&.normal-nav-link:after {
						width: 100%;
					}
				}
				&.instagram-nav-link {
					padding-top: 8px;
					margin-right: 4px;
					svg {
						width: 35px;
						height: 35px;
					}
				}
			}
			.donate-nav-link {
				width: auto;
				height: 70px;
				padding: 14px 72px;
				margin-top: 1rem;
				font-size: 1.75rem;
			}
		}
	}
}
